version: '3.3'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile-node
    # tty: true
    # stdin_open: true
    ports:
      - "8000:8000"
    volumes:
      - .:/home/node/app
      - node_modules:/home/node/app/node_modules
volumes:
  node_modules:
